/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
html,body{
  padding:0px;
  margin:0px;
  font-size: 12px;
  font-family: Helvetica;
}

/*
display: flex; => Permite pasar elementos de vertical a horizontal
justify-content: space-between; => Agrega un espacio entree 2 objetos deacuerdo al contenido
align-items: center; => Alinea los objetos en el centro
*/

nav{
  display: flex;
  background-color: #7ACC2D;
  padding: 10px;
  color: white;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
}

/*
list-style: none; => Elimina los puntos de las listas
 */
nav li{
  padding-left: 20px;
  list-style: none;

}

/*
text-decoration: none; => Elimina la linea de los enlances
 */
nav li a{
  color: black;
  text-decoration: none;
}

nav li a:hover{
  color: white;
}
