/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* -------------Variables */
:root{
--green-color:#7ACC2D;
--white-color:white;
--black-color:#313337;
/* Tipografía */
--normal:12px;
/* Espaciado */
--space:10px;
/* Box shadow */
--box:0px 0 2px 1px #e6e5e9;
}
/* -------------Variables */

html,body{
  padding:0px;
  margin:0px;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}

/*
display: flex; => Permite pasar elementos de vertical a horizontal
justify-content: space-between; => Agrega un espacio entree 2 objetos deacuerdo al contenido
align-items: center; => Alinea los objetos en el centro
*/
nav{
  display: flex;
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
}

/*
list-style: none; => Elimina los puntos de las listas
 */
nav li{
  padding-left: 20px;
  list-style: none;

}

/*
text-decoration: none; => Elimina la linea de los enlances
 */
nav li a{
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover{
  color: var(--white-color);
}

/* ------------------------ Main section */

.main_section{
  padding: 15%;
  text-align: center;
}

/*
background-size: cover; => Hace el la imagen de fondo ocupe el tamaño del contenedor donde esta ubicada
background-position: center top; => Alinea el fondo en el centro y hacia arriba
adding: 15%; => Al incluir un padding porcentual el contenido se ajusta al tamaño del contenedor
 */
.products{
  background-image: url("../images/curve.png");
  max-height: 50px;
  background-size: cover;
  background-position: center top;
  padding:20%;
  display: flex;
}

.product{
  padding: var(--space);
  margin-top: -240px;
}

/*
box-shadow: 0 0 1px #c1bcbc; => Genera la sombra al rededor de los elementos
*/
.product .content{
  background-color: var(--white-color);
  padding: var(--space);
  box-shadow: var(--box);
}

.img_content{
  text-align: center;
}

.main_button{
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border:0;
  cursor: pointer;
  border-radius: 2px;
}

.main_button:hover{
  background-color: #5e9e22;
}
